<h1>IdeaShare</h1>

<div class="row call-to-action">
  <div class="col-xs-6">
    <p class="text-center"><%= link_to('Join', new_user_registration_path, class: 'btn btn-default btn-lg') %></p>
  </div>
  <div class="col-xs-6">
    <p class="text-center"><%= link_to('Login', new_user_session_path, class: 'btn btn-default btn-lg') %></p>
  </div>
</div>