<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <%= image_tag("IS.png", width: 20, height: 20) %>
          </a>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/desks">Desks</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= current_user.email if current_user %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) if user_signed_in? %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>